 $glow: #ffc8dd;
 $darkbg:#1C0E2F;
 $pinktext: #ffc8dd;
 $goldenpeach:#faae7b;  
.container{
margin: 20vh;
}
#about-me-card{
   

}

.boxy-list:before{
    list-style-type: none;
    content: '\2665 ';
    // color: ;
}