 $glow: #ffc8dd;
 $darkbg:#1C0E2F;
 $pinktext: #ffc8dd;
 $goldenpeach:#faae7b;  
.card{
margin-top: 10vh;
align-items: center;

}
#about-me-card{
margin: 5vh;
    text-align: center;
    justify-self: center;
}

.subtitle{
    
    margin-top: 3vh;
}
.boxy-list:before{
    list-style-type: none;
    content: '\2665 ';
    
}

.material-icons{
    background-color: aqua;
    border-radius: 50%;
    color:pink;
    font-size: 5vh;
}