@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
$pinkheader: #e5989b;
$goldenpeach:#ea8869;
$textcolor:#ac46a1;
.navbar{
    background-color: $pinkheader;
    font-family: 'Praise', cursive;
    font-size :30px;
    width: 100vw;
    // opacity: 60%;
    a{
        color: $textcolor;
    }
}