@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
$pinkheader: #ffb3c1;
$goldenpeach:#ea8869;
$darkbg:#1C0E2F;
.navbar{
    background-color: $pinkheader;
    font-family: 'Praise', cursive;
    font-size :30px;
    width: 100vw;
    // opacity: 60%;
    a{
        color: $goldenpeach;
    }
}